body {
    max-width: 1400px;
    font-family: 'Raleway';
    margin-right: auto;
    margin-left: auto;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
.topbar {
    display: flex;
    align-items: flex-end;
    justify-content:space-between;
    padding-left: 55px;
}
.logo {
    width: 61.09px;
    height: 19px;
}
.menu {
    display: flex;
    justify-content: flex-end;
}
.menu a{
    padding-top: 42px;
    border-top: 2px solid white;
    width: 150px;
    display: flex;
    justify-content: center;
}
.menu a:hover{
    border-top: 2px solid #0065FC;
}
.menu-item {
    text-decoration: none;
    height: 19px;
    color: black;
}
.menu-item:hover {
    color: #0065FC;
}
.en-tete {
    max-width: 1400px;
}
.en-tete h2, h3, .searchbar {
    margin-left: 55px;
}
.en-tete-title h2 {
    margin-top: 59px;
}
.en-tete h3 {
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: -15px;
}
#glass {
    display: none;
}
.searchbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    margin-left: 55px;
    margin-bottom: 40px;
}
form {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 20px 0px 0px 20px;
} 
input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    padding-left: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    margin-left: 10px;
    text-align: center;
    font-weight: 700;
    height: 27px;
} 
input[type="text"]::placeholder {
    color: black;
}
button[type="submit"] {
    padding: 10px 20px;
    border: 1px solid #0065FC;
    border-radius: 0 10px 10px 0;
    font-size: 16px;
    position: absolute;
    margin-left: 210px;
    background-color: #0065FC;
    color: #FFFFFF;
    height: 49px;

} 
.btn-search {
    font-weight: bold;
}
.location-btn {
    background-color: #F2F2F2;
    position: absolute;
    border: none;
    padding: 10px;
    width: 50px;
    height: 49px;
    border-radius: 10px 0px 0px 10px;

}  
.location-btn i {
    font-size: 20px;
    color: black;
}
.filter {
    display: flex;
    align-items: baseline;
    margin-bottom: 52px;
    margin-top: 10px;
}
.filter h2 {
    width: 54px;
    height: 21px;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.elements-filter {
    display: flex;
    gap: 60px;
    margin-left: 62px;
}
.fa-money-bill-wave {
    color: #0065FC;
    width: 22px;
    height: 16px;
}
.fa-person, .fa-heart {
    color: #0065FC;
    width: 13px;
    height: 22px;
}
.fa-dog {
    color: #0065FC;
    width: 22px;
    height: 22px;
}
.btn-filter {
    height: 50px;
    font-weight: 700;
    font-size: 17px;
    border-radius: 50px;
    border: 1px solid #D9D9D9;
    background-color: #FFFFFF;
    padding-right: 14px;
    cursor: pointer;
}
.btn-filter:hover {
    background-color: #DEEBFF;
    opacity: 0.9;
}
.btn-filter i {
    padding-left: 8px;
    padding-right: 8px;
}
.info {
    display: flex;
    margin-left: 59px;
    margin-bottom: 37px;
    align-items: flex-start;
}
.info-logo {
    width: 24px;
    height: 24px;
    border: 2px solid #d9d9d9;
    border-radius: 50%;

}
.info-logo i {
    width: 4px;
    height: 10px;
    margin-left: 9px ;
    margin-top: 3px;
}
.info-text {
    padding-top: 4px;
    margin-left: 11px;
    color: black;
}
.main {
    display: flex;
    width: 100%;
}
.hebergements {
    width: 880px;
    margin-left: 50px;
    border-radius: 20px;
    background: #F2F2F2;
}
.hebergements h2 {
    margin-left: 40px;
    margin-top: 42px;
}
.cards {
    max-width: 910px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    row-gap: 30px;
    border-radius: 20px;
    margin-left: 30px;
    padding-right: 40px;
}
.card {
    display: block;
    width: 246px;
    margin: 0px auto;
    background-color: white;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
}
.image-card {
    height: 124px;
    position: relative;
    overflow: hidden;
}
.image-card img {
    width: 100%;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
}
.body-card {
    margin-left: 16px;
    font-size: 16px;
    line-height: 9px;
}
.title-card h2 {
    font-size: 16px;
    margin-left: 0;
    margin-top: 8px;
}
.price-card {
    font-size: 14px;
}
.devise {
    font-weight: bold;
}
.rating-card .checked, .populars-rating-card .checked,  .fa-chart-line, .fa-info {
    color: #0065FC;

}
.fa-star {
    color: #F2F2F2;
}
.more-info {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    margin-left: 44px;
    padding-bottom: 46px;   
}
.sidebar {
    flex: none;
    width: 420px;
    border-radius: 20px;
    background: #F2F2F2;
    margin-left: 30px;
    padding-right: 20px;
}
.sidebar h2 {
    margin-left: 37px;
    padding-top: 30px;
    margin-bottom: 0px;
}
.fa-chart-line {
    margin-left: 80px;
}
.sidebar-cards {
    display: flex;
    flex-direction: column;
    padding-top: 23px;
    padding-bottom: 40px;
    row-gap: 30px;
    border-radius: 20px;
    margin-left: 40px;
    padding-right: 40px;
}
.populars-card {
    width: 320px;
    height: 144px;
    background-color: #FFFFFF;
    margin: auto;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
}
.populars-img-card {
    box-sizing: border-box;
    height: 144px;
    position: absolute;
    border-radius: 20px 0px 0px 20px;
}
.populars-img-card img {
    position: absolute;
    width: 137px;
    height: 144px;    
    border-radius: 20px 0px 0px 20px;
}
.populars-body-card {
    margin-left: 150px;
    height: 144px;
}
.populars-title-card h3 {
    font-size: 16px;
    margin-left: 0;
}
.populars-price-card {
    font-size: 14px;
    margin-top: 7px;
}
.populars-rating-card {
    margin-top: 45px;
}
.activity {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50px;
    max-width: 100%;
}
.activity-marseille h2 {
    margin-left: 50px;
    width: auto;
}
.activity-card {
    width: 302px;
    height: 444px;
    border-radius: 20px;
    background-color: white; 
    box-shadow: 0px 5px 20px #999;
    padding-bottom: 10px;
  }
  .activity-card-image {
    height: 389px;/*1*/
    position: relative;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;/*3*/
  }
  .activity-card-image img {
    width: 302px;/*4*/
    height: 389px;
  }
  .activity-card-title h3 { 
    font-weight: 700;
    margin-left: 20px;

}
.footer li {
    padding-top: 12px;
}
.footer h1 {
    font-size: 18px;
    padding-top: 45px;
    padding-bottom: 20px;
}
.footer {
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2; 
    margin-top: 61px;
    padding-bottom: 58px;
    padding-right: 327px;
}
/********** RESPONSIVE TABLETTE **********/
@media screen and (min-width:768px) and (max-width: 992px) {
    .searchbar input {
        padding-left: 20px;
    }
    .btn-filter {
        font-size: 11px;
        padding-top: 8px;
    }
    .info {
        margin-left: 72px;
        margin-bottom: 39px;
    }
    .main {
        display: flex;
        flex-wrap: wrap;
        width: auto;
    }
    .sidebar {
        width: 100%;
        margin: auto;
        border-radius: 20px;
        margin-top: 53px;
        padding: 0;
    }
    .fa-chart-line {
        margin-left: 670px;
    }
    .sidebar-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;  
        flex-wrap: wrap;   
    }
    .populars-card {
        width: 252px;
        height: 144px;
        margin-left: 40px;
    }
    .populars-img-card img {
        width: 106px;
        height: 144px;
    }
    .populars-body-card {
        width: 146px;
        margin-left: 110px;
    }
    .hebergements {
        background-color: #F2F2F2;
        width: auto;
        margin: auto;
        border-radius: 20px;
    }
    .card {
        width: 246px;
        height: 199px;
        
    }
    .image-card {
        height: 124px;
    }
    .body-card {
        height: 15px;
        line-height: 5px;
    }
    .body-card h2 {
        margin-top: 15px;
    }

    .activity-marseille {
        width: 100%;
    }
    .activity {
        display: flex;
        justify-content: center;
        gap: 50px;
        margin: auto;
    }
    .activity-card {
        width: 182px;
        height: 267px;
        background-color: white; 
        box-shadow: 0px 5px 20px #999;
      }
    .activity-card-image {
        height: 211px;
    }
    .activity-card-image img {
        width: 100%;/*4*/
        height: 100%;
    }

    .footer {
        margin-right: auto;
        margin-top: 69px;
        margin-left: auto;
    }
    
}
/********** RESPONSIVE MOBILE **********/
@media screen and (max-width: 768px) {
    a {
        text-decoration: none;
        color: black;
    }
    .topbar {
        display: block;
        padding-left: 0;
    }
    .topbar>div{
        padding-top: 44px;
    }
    .menu {
        display: flex;
        justify-content: center;
        gap: 0;
    }
    .menu li{
        padding-top: 48.56px;
        border-top: 0;
        border-bottom: 3px solid #F2F2F2;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
    }
    .menu li:hover{
        border-top: 0;
        border-bottom: 3px solid #0065FC;

    }
    .menu-item {
        width: 50%;
        margin-right: 0;
    }  
    .logo {
        display: block;
        width: 61.09px;
        margin: auto;
    }
    .en-tete h2 {
        font-size: 22px;
    }
    .en-tete h2, h3 {
        margin-left: 22px;
    }
    .searchbar {
        margin: 0;
        align-items: center;
        width: auto;
    }
    .searchbar form {
        width: 332px;
        margin: auto;
    }
    .btn-search {
        display: none;
    }

    button[type="submit"] {
        margin-left: 280px;
    }
    #glass {
        display: flex;
    }  
    .filter {
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
    }
    .elements-filter {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        width: auto;
    }
    .btn-filter {
        width: 170px;
        height: 60px;
        font-size: 12px;
        text-align: start;
        font-weight: bold;
        border: 2px solid #D9D9D9;
        border-radius: 25px;
    }
    .fa-money-bill-wave {
        color: #0065FC;
        width: 21px;
        height: 14.78px;
    }
    .fa-person {
        color: #0065FC;
        width: 13px;
        height: 22px;
    }
    .fa-heart {
        width: 22px;
        height: 18px;
    }
    .fa-dog {
        color: #0065FC;
        width: 21px;
        height: 20px;    
    }
    .info {
        margin-left: 20px;
        width: 330px;
        height: 57px;
    }
    .info-text {
        color: black;
        width: 298px;
        text-align: justify; 
    }
    .main {
        flex-wrap: wrap-reverse;
        width: 100%;

    }
    .sidebar {
        margin: 0;
        width: 100%;
        border-radius: 0px;
        padding-right: 0;
    }
    .sidebar h2 {
        margin-left: 20px;
    }
    .fa-chart-line {
        margin-left: 118px;
    }
    .sidebar-cards {
        width: auto;
        margin-left: 20px;
    }
    .hebergements {
        border-radius: 0px;
        background-color: #FFFFFF;
        width: auto;
        margin: 0;
    }
    .more-info {
        display: none;
    }
    .cards {
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .card {
        width: 335px;
        height: 199px;
        box-shadow: 0px 5px 20px #999;
    }
    .image-card {
        height: 124px;
    }
    .body-card {
        height: 15px;
        line-height: 5px;
    }
    .body-card h2 {
        margin-top: 15px;
    }
    .activity-marseille {
        margin-left: 50px;
    }
    .activity-marseille h2 {
        width: 250px;
        margin-top: 105px;
        margin-bottom: 0;
    }
    .activity {
        display: inline-block;
        width: auto;  
        margin-left: 19px;     
    }
    .activity-card {
        width: 334px;
        height: 190px;
        margin-top: 24px;
    }
    .activity-card-image {
        height: 154px;
    }
    .activity-card-image img {
        width: 100%;/*4*/
        height: 100%;
    }
    .footer {
        display: block;
        padding-right: 0;
        background: #F2F2F2;       
    }
    .footer ul {
        padding-left: 29px;
    }    
}
