/********** GENERAL **********/
body {
    max-width: 1400px;
    font-family: 'Raleway';
    margin-right: 50px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/********** EN-TÊTE **********/
.en-tete {
    max-width: 1400px;
}
.en-tete h1, h3, .searchbar {
    margin-left: 55px;
}
.en-tete h1 {
    margin-top: 59px;
}
.en-tete h3 {
    font-style: normal;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: -15px;
}
.fa-magnifying-glass {
    display: none;
}
.searchbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    width: 464px;
    margin-left: 55px;
  }
  
  form {
    display: flex;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 20px 0px 0px 20px;
  }
  
  input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    margin-left: 10px;
    text-align: center;
    font-weight: 700;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    border: 1px solid #0065FC;
    border-radius: 0 5px 5px 0;
    font-size: 16px;
    position: absolute;
    margin-left: 210px;
    background-color: #0065FC;
    color: #FFFFFF;
  }
  
  .location-btn {
    background-color: #F2F2F2;
    position: absolute;
    border: none;
    padding: 10px;
    width: 50px;
    height: 49;
    border-radius: 20px 0px 0px 20px;

  }
  
  .location-btn i {
    font-size: 20px;
    color: black;
  }
  
  @media (max-width: 768px) {
    .btn-search {
        display: none;
    }
    .searchbar {
        margin: 0;
        align-items: center;
    }
    .fa-magnifying-glass {
        display: flex;
    }
  }

.filter {
    margin-bottom: 52px;
    margin-top: 10px;
}
.elements-filter {
    display: flex;
    gap: 60px;
    margin-left: 62px;
}
.elements-filter p {
    font-weight: 700;
    width: 54px;
    height: 21px;
}
.fa-money-bill-wave {
    color: #0065FC;
    width: 22px;
    height: 16px;
}
.fa-person, .fa-heart {
    color: #0065FC;
    width: 13px;
    height: 22px;
}
.fa-dog {
    color: #0065FC;
    width: 22px;
    height: 22px;
}
.btn-filter {
    padding: 20px 20px;
    font-weight: 700;
    font-size: 17px;
    border-radius: 20px;
    border: 1px solid #F2F2F2;
    background-color: #FFFFFF;
}
.btn-filter:hover {
    background-color: #DEEBFF;
    opacity: 0.9;
}
.info {
    margin-left: 50px;
    margin-bottom: 39px;
}
.info a {
    margin-left: 11px;
}

/********** HEADER **********/
.logo {
    width: 61.09px;
    height: 19px;
    margin-left: 55px;
    margin-top: 44px;
}
.menu {
    display: flex;
    justify-content: flex-end;
    gap: 67px;
}
.menu-item {
    text-decoration: none;
    height: 19px;
    color: black;
    margin-right: 27px;
}
.menu-item:active {
    color: #0065FC;
}
/********** RESPONSIVE HEADER < 768px **********/
@media screen and (max-width: 768px) {
    body {
        margin: 0;
        max-width: 100%;
    }
    .menu {
        display: flex;
        justify-content: center;
        margin-top: 48.56px;
      }
    .menu-item {
        width: 50%;
    }  
    .logo {
        display: block;
        width: 61.09px;
        margin: auto;
    }
    .rectangles {
        display: flex;
    }
    .rectangle-26 {        
        width: 50%;
        height: 3px;
        left: 0px;
        margin-top: 23.09px;
        background: #0065FC;
    }
    .rectangle-27 {
        width: 50%;
        height: 3px;
        left: 187px;
        margin-top: 23.09px;
        background: #F2F2F2;
    }
    .elements-filter {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .info {
        margin-left: 20px;
        width: 330px;
        height: 57px;

    }

}

/********** Articles **********/
.main {
    display: flex;
    width: 100%;
}
.hebergements {
    width: 880px;
    margin-left: 50px;
    border-radius: 20px;
    background: #F2F2F2;
}
.hebergements h1 {
    margin-left: 40px;
    margin-top: 42px;
}

/********** HERGEMENTS CARDS **********/
.cards {
    max-width: 910px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    row-gap: 30px;
    border-radius: 20px;
    margin-left: 30px;
    padding-right: 40px;
}
.card {
    display: block;
    width: 246px;
    margin: 0px auto;
    background-color: white;
    border: 5px solid #FFFFFF;
    border-radius: 20px;
}
.image-card {
    height: 124px;
    position: relative;
    overflow: hidden;
}
.image-card img {
    width: 100%;
    position: absolute;
    border-radius: 20px 20px 0px 0px;
}
.body-card {
    margin-left: 16px;
    font-size: 16px;
}
.title-card h2 {
    font-size: 16px;
}
.price-card {
    font-size: 14px;
}
.rating-card .checked, .populaires-rating-card .checked,  .fa-chart-line, .fa-circle-info {
    color: #0065FC;

}

/********** AFFICHEZ PLUS **********/
.more-info {
    font-size: 18px;
    font-weight: 700;
    line-height: 21.13px;
    margin-left: 44px;
    padding-bottom: 46px;   
}

/********** SIDEBAR **********/
.sidebar {
    flex: none;
    width: 420px;
    border-radius: 20px;
    background: #F2F2F2;
    margin-left: 30px;
    padding-right: 20px;
}
.sidebar h1 {
    margin-left: 37px;
    padding-top: 30px;
    margin-bottom: 0px;
}
.fa-chart-line {
    margin-left: 150px;
}

/********** POPULAIRES CARDS **********/
.populaires-cards {
    max-width: 345px;
    display: flex;
    flex-direction: column;
    padding-top: 23px;
    padding-bottom: 40px;
    row-gap: 30px;
    border-radius: 20px;
    margin-left: 40px;
    padding-right: 40px;
}
.populaires-card {
    width: 320px;
    height: 144px;
    background-color: #FFFFFF;
    margin: auto;
    border: 5px solid white;
    border-radius: 20px;
}
.populaires-img-card {
    box-sizing: border-box;
    height: 144px;
    position: absolute;
    border-radius: 20px 0px 0px 20px;
}
.populaires-img-card img {
    position: absolute;
    width: 137px;
    height: 144px;    
    border-radius: 20px 0px 0px 20px;
}
.populaires-body-card {
    margin-left: 150px;
    height: 144px;
}
.populaires-title-card h2 {
    font-size: 16px;
}
.populaires-price-card {
    font-size: 14px;
    margin-top: 7px;
}
.populaires-rating-card {
    margin-top: 45px;
}
/********** RESPONSIVE CONTENU < 768px **********/
@media screen and (max-width: 768px) {
    .main {
        flex: inline-block;
        flex-wrap: wrap-reverse;
        width: 100%;

    }
    .sidebar {
        margin: 0;
        width: 100%;
        border-radius: 0px;
    }
    .sidebar h1 {
        margin-left: 20px;
    }
    .populaires-cards {
        width: 100%;
        margin-left: 37px;
    }
    .hebergements {
        border-radius: 0px;
        background-color: #FFFFFF;
        width: 100%;
        margin-left: 20px;
    }

    .more-info {
        display: none;
    }
    .card {
        width: 335px;
        height: 199px;
        box-shadow: 0px 5px 20px #999;
    }
    .image-card {
        height: 124px;
    }
    .body-card {
        height: 15px;
        line-height: 5px;
    }
    .body-card h2 {
        margin-top: 15px;
    }
}  

/********** ACTIVITES A MARSEILLE **********/
.activity {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    max-width: 100%;
}
.activity-marseille h1 {
    margin-left: 50px;
}
.activity-card {
    width: 302px;
    height: 444px;
    border-radius: 20px;
    background-color: white; 
    box-shadow: 0px 5px 20px #999;
    padding-bottom: 10px;
  }
  .activity-card-image {
    height: 389px;/*1*/
    position: relative;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;/*3*/
  }
  .activity-card-image img {
    width: 302px;/*4*/
    height: 389px;
  }
  .activity-card-title h3 { 
    font-weight: 700;
    margin-left: 20px;

}
/********** RESPONSIVE ACTIVITES A MARSEILLE < 768px **********/
@media screen and (max-width: 768px) {
    .activity-marseille h1 {
        width: 212px;
        margin-top: 105px;
        margin-bottom: 0;
    }
    .activity {
        display: inline-block;
        width: 100%;        
    }
    .activity-card {
        width: 334px;
        height: 190px;
        margin-top: 24px;
    }
    .activity-card-image {
        height: 154px;
    }
    .activity-card-image img {
        width: 100%;/*4*/
        height: 100%;
    }
    
}

/********** FOOTER **********/
.footer li {
    padding-top: 12px;
}
.footer h1 {
    font-size: 18px;
    padding-top: 45px;
    padding-bottom: 20px;
}
.footer {
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2; 
    margin-top: 61px;
    margin-left: 48px;
    padding-bottom: 58px;
}
/********** RESPONSIVE FOOTER < 768px **********/
@media screen and (max-width: 768px) {
    .footer {
        display: block;
        margin: 0;
        background: #F2F2F2;       
    }
    
}